/* General Layout */
.dashboard {
    display: flex;
}

.dashboard.with-sidebar {
    margin-left: 250px; /* same as sidebar width */
}

/* Sidebar Component Styling */
/*.sidebar {*/
/*    width: 250px;*/
/*    background-color: #ffffff;*/
/*    padding: 20px;*/
/*}*/

/* Main Content Styling */
.main {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.filters select {
    margin-right: 10px;
}

.download {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Statistics and Chart Section */
.statistics-chart {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 2;
}

.statistics .card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card .p{
    font-size: 13px;
    padding-top: 30px;
}

.chart {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Rank List Section */
.tables {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.rank-card {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rank-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.rank-card h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #2d3748;
    border-bottom: 2px solid #e2e8f0;
    padding-bottom: 5px;
}

.rank-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f4f6f9;
    transition: background-color 0.3s ease;
}

.rank-item:hover {
    background-color: #eaf3ff;
}

.rank-new {
    color: #ff5722; /* 오렌지 색상 */
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.rank-content {
    flex: 1;
    margin-left: 10px;
}

.rank-title {
    font-size: 14px;
    font-weight: bold;
    color: #1a202c;
}

.rank-detail {
    font-size: 12px;
    color: #718096;
}

.view-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.view-link:hover {
    color: #0056b3;
    text-decoration: underline;
}