/* Sidebar container */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    padding: 20px;
    background-color: white; /* ✅ 전체 반투명 적용 */
    backdrop-filter: blur(10px); /* ✅ 배경 흐림 효과로 더 자연스럽게 */
    color: #3f4d67;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

/* 사이드바가 열렸을 때 */


/* 사이드바가 닫혔을 때 */


.menu-item:hover,
.submenu-item:hover {
    background-color: rgba(0, 123, 255, 0.8);
}

/* Logo */
.logo-image {
    width: 200px;
    margin-bottom: 20px;
    align-self: center;
}

/* Menu */
.menu {
    flex-grow: 1;
}

.menu-item-container {
    margin-bottom: 20px;
}

/* Main menu item */
.menu-item {
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    border-radius: 8px;
    color: black;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none; /* Remove underline */
}

.menu-item:hover {
    background-color: #007bff;
    color: white;
    text-decoration: none; /* Ensure underline is not added on hover */
}

.menu-item.active {
    background-color: #00BAEA;
    color: white;
    text-decoration: none; /* Ensure underline is not added for active state */
}

/* Submenu */
.submenu {
    padding-left: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.submenu.expanded {
    max-height: 200px; /* Adjust this based on expected submenu height */
}

/* Submenu item */
.submenu-item {
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #3f4d67;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submenu-item a {
    text-decoration: none;
    color: inherit;
}

.submenu-item:hover {
    background-color: #007bff;
    color: white;
}

.submenu-item.active {
    background-color: #007bff;
    color: white;
}

/* User Info */
.user-info {
    margin-top: auto;
    /*display: flex;*/
    /*align-items: center;*/
    padding-top: 15px;
    border-top: 1px solid #e0e0e0;
    color: black;
    background-color: white;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    background-color: #f0f0f0;
}

.user-details {
    display: flex;
    flex-direction: row;
}

.user-name {
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.main-content {
    margin-left: 250px; /* same width as sidebar */
    transition: margin-left 0.3s ease;
}

.user-role {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logout-button {

    font-size: 14px;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

.logout-button:hover {
    color: #0056b3;
}